<div class='title'>
    <h2>About</h2>
</div>

<div class='line'></div>

<section class='centered-content'>
    {{#if (eq productLine.name 'lipsense')}}
        <h3>BENEFITS</h3>
        <p>LipSense is the premier product of SeneGence and is unlike any conventional lipstick, stain or color. As the original long-lasting lip color, it is waterproof, does not kiss-off, smear-off, rub-off or budge-off! Create your own color palette by combining shades. Your customized look will last even longer and your lips will stay moist and plump with LipSense Moisturizing Gloss.</p>

        <h3>DETAILS</h3>
        <p>The premier product for SeneGence is patented LipSense Liquid Lip Color. LipSense is an amazing departure from conventional lipsticks and lip colors found on the market today.</p>
        <p>LipSense comes in a wide variety of shades and textures; Frosts, Mattes, and Shimmers. LipSense lip colors are perfect to mix and match; LipSense is versatile in that you can use LipSense shades to create a number of effects.</p>
        <p>LipSense is initially sold as a set, which includes LipSense Liquid Lip Color, a moisturizing Gloss, and an Ooops!™ Remover. Users should have a remover in the event they need to remove the product.</p>

        <h3>APPLICATION TECHNIQUE</h3>
        <p>For best results, LipSense® products must be applied to clean, dry lips. For a more defined, finished look, use LinerSense® before applying the lip color. LipSense® needs to be shaken horizontally prior to application.</p>
        <p>LipSense® is applied by using a layering technique. Here is how to apply LipSense®:</p>
        <ul>
            <li>Step 1: After placing color onto the wand, begin application at the corner of mouth, (usually) using the longest length of the applicator. Keep lips apart, and follow the natural shape of lips starting at the outer corner of the mouth. With one continual stroke, apply one layer of color from one corner to the other corner of the bottom lip, then one layer of color to the top lip. Apply the color, moving the applicator in one continuous direction versus going back and forth like you would with lipstick.</li>
            <li>Step 2: Repeat Step 1 two more times, so that you have a total of 3 layers of LipSense® applied to your lips. Let each layer set for a few seconds before proceeding to the next, and do not press lips together. It is not recommended to apply more than three layers of color.</li>
            <li>Step 3: When the application of the third layer of color is complete and the color has set, apply one of the LipSense® Moisturizing Glosses over the final layer. Do not press lips together until the moisturizing gloss has been applied onto the last layer of lip color. After applying the gloss, press your lips together to smooth in the moisture rich gloss and enjoy the glorious look and feel of this long-lasting, advanced color technology!</li>
            <li>LipSense® Liquid Lip colors are removed by using Ooops!™ Color Remover.</li>
        </ul>

        <h3>LAYERING LIPSENSE</h3>
        <p>Layering LipSense is a must due to the fact the color breaks down with the pH balance of the skin.</p>
        <ul>
           <li>1st layer: touches the skin’s pH and will begin to break down first and fastest.</li>
           <li>2nd layer: protected from the bottom, away from the skin’s pH, by the first layer.</li>
           <li>3rd layer: protects the second layer from the top down and prevents sheering of second layer of color by keeping away friction, saliva, and the natural environment. The third layer breaks down just like the first layer, but from the top down. The second layer is sandwiched between the first and third and is protected by both for the longest period of use.</li>
        </ul>
        <p>Glossing: It is important to know the long-lasting properties of LipSense are enhanced by any of the LipSense moisturizing glosses. The gloss products also help to keep the lips moist and plump.</p>

        <h3>THE SCIENCE BEHIND THE PRODUCT</h3>
        <p>This unique product is waterproof and does not kiss off, smear off, rub off, or budge off! And, just as important it does not dry out your lips. In fact, it restores the moisture content of your lips when used properly. LipSense Liquid Lip Color can last anywhere between 4 and 18 hours.</p>
        <p>LipSense is a non-wax liquid lip color that stays on your skin. LipSense provides a natural shield from the sun. The proprietary formulations and color pigments in LipSense help create a mechanical covering for the lips. That means the skin on your lips are protected from the sun’s rays by the color pigments, therefore your lips are more protected from harmful rays. That is just one of the reasons your lips become so smooth and soft with consistent use of LipSense.:</p>
        <p>The patented formulation technology includes Cosmetic grade Denatured Alcohol, which is nothing close to Isopropyl Alcohol–or rubbing alcohol. In fact, you need Denatured Alcohol to apply LipSense to lips. While rubbing alcohol instantly removes LipSense from the skin. We do not recommend the use of rubbing alcohol on the skin because it dries out the skin.</p>

        <h3>KEY INGREDIENTS AND BENEFITS</h3>
        <p>LipSense Long-Lasting Liquid Lip Color is made of a combination of ingredients. Here are a few key components:</p>
        <ul>
            <li>Denatured Alcohol: used as a delivery system for the color technology; creates a germ and bacteria-free environment.</li>
            <li>Paeonia Suffruticosa Root (Tree Peony) Extract: a natural calming plum flower herb.</li>
            <li>Hypericum Perforatum (St. John’s Wort) Extract: also known as St John’s Wort, a natural herb used to elavate mood and treat depressions.</li>
            <li>Tilia Cordata (Linden) Flower Extract: a natural flower extract rich in flavonoids and a powerful anti-oxidant.</li>
            <li>Isodonis Japonicus Extract: Fragrant plant extract that contains terpenes, shown to have medicinal properties to soothe skin.</li>
            <li>Mica: an earth mineral used to give products sparkle and shine. Titanium Dioxide: an inert earth mineral used as a thickening ingredient and sunscreen in cosmetics. It protects skin from UVA and UVB radiation and is considered to have no risk of skin irritation.</li>
        </ul>
        <p>Note: Just as important as what is in LipSense, is what is not! LipSense is formulated with no wax, lead, or animal by-products.</p>

        <h3>COLOR PIGMENTS</h3>
        <p>Each tube of color has a varied formulation and mixture of color pigments to arrive at a specific color. Some colors naturally last longer than others because of the different body chemistry of each wearer, plus some colors are thicker or richer in color pigmentations, while others are sheer and thinner.</p>



    {{/if}}
</section>

{{#link-to 'products' productLine.name class='bbutton'}}Back to {{productLine.title}}{{/link-to}}
