$content-max-width: 1148px;
$header-height: 112px;
$footer-height: 92px;
$header-height-mobile: 104px;
$footer-height-mobile: 92px;


// Shadow
$shadow-multiplier: .7;
$shadow-key-umbra-opacity: $shadow-multiplier * .2;
$shadow-key-penumbra-opacity: $shadow-multiplier * .14;
$shadow-ambient-shadow-opacity: $shadow-multiplier * .12;

$box-shadow-penumbra-color: rgba(0, 0, 0, $shadow-key-penumbra-opacity);
$box-shadow-umbra-color: rgba(0, 0, 0, $shadow-key-umbra-opacity);
$box-shadow-ambient-color: rgba(0, 0, 0, $shadow-ambient-shadow-opacity);

$whiteframe-shadow-z1: 0 3px 1px -2px $box-shadow-umbra-color, 0 2px 2px 0 $box-shadow-penumbra-color, 0 1px 5px 0 $box-shadow-ambient-color !default;

.shadow,
%shadow {
    box-shadow: $whiteframe-shadow-z1;
    box-sizing: border-box;
}

.scroll-background-image ,
%scroll-background-image {
    // Just need to provide an image and height

    /* Create the parallax scrolling effect */
    position: relative;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// For debugging
.none {
    display: none;
}

.centered-content,
%centered-content {
    margin: auto;
    max-width: $content-max-width;
    padding: 0 24px;
}

.bbutton {
    background-color: $light-grey;
    border-radius: 4px;
    color: $text-color;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 12px;
    transition-duration: .25s;

    &:hover {
        color: #555;
        text-decoration: none;
        background-color: #ccc;
    }

    &.invert {
        background-color: $burgandy;
        color: $white;

        &:hover {
            background-color: $dark-burgandy;
            color: #ddd;
        }
    }
}
