<div class='title'>
    <h2>Contact me</h2>
</div>

<p>
    I’d be happy to help you color match, answer any questions and make your entire shopping experience personalized to YOU! To order, simply shoot me an email or a direct message on Instagram. From choosing your colors, to receiving your happy mail and beyond - I am here for you!
</p>

@beejoyfullyyou
beejoyfullyyou@gmail.com
