<div class='title'>
    <h2>Contact me</h2>
</div>

<div class='line'></div>

<section class='side-by-side centered-content'>
    <img class='first' src='/assets/images/utils/contact_welcome.jpg'/>
    <div class='last'>
        <p>
            I’d be happy to help you color match, answer any questions and make your entire shopping experience personalized to YOU! <strong>To order, simply send me an email or a direct message on Instagram.</strong> From choosing your colors, to receiving your happy mail and beyond - I am here for you!
        </p>
    </div>
</section>

<a target='_blank' class='link' href='https://www.instagram.com/beejoyfullyyou/'>
    <img src='/assets/icons/ig-logo.png'/>
    <span>@beejoyfullyyou</span>
</a>

<a href='mailto:beejoyfullyyou@gmail.com' class='link'>
    <i class='material-icons'>mail</i>
    <span>beejoyfullyyou@gmail.com</span>
</a>
