<section class='title-section'>
    <div class='overlay'></div>
    <div class='centered-content text-container'>
        <div class='sub-text'>Welcome to</div>
        <div class='title'>Bee Joyfully You</div>
    </div>
</section>

<div class='content-frame'>
    <section class='side-by-side intro white'>
        <div class='first'>
            <h3>HELLO BEAUTIFUL!</h3>
            <h4>I’m so glad you’re here!</h4>
            <p>My name is Janelle and I’m excited to introduce you to the magic of our long-lasting makeup and amazing skin care products. These products have been a game changer for me and I hope you fall in love with them too! Here you’ll find more information about me, our products, tips and tricks, and a whole lot more.</p>
            {{#link-to 'about' class='bbutton'}}MEET JANELLE{{/link-to}}
        </div>
        <img class='last' src='/assets/images/utils/index_about_me.jpg'/>
    </section>
</div>

<section class='side-by-side product'>
    <img class='first' src='/assets/images/utils/index_product.jpg'/>
    <div class='last'>
        <h4>SHOP OUR PRODUCTS</h4>

        <p>All SeneGence® products have a “Love It Guarantee” so there’s absolutely no risk to trying them. These amazing products have easily become my favorite things and they might actually change your life! Check out our magical products and find all the details.</p>

        {{#link-to 'contact' class='bbutton invert'}}SHOW ME THE MAGIC!{{/link-to}}
    </div>
</section>

<div class='content-frame'>
    <section class='side-by-side white'>
        <div class='first'>
            <h4>CONTACT ME</h4>

            <p>From choosing your colors, to receiving your happy mail and beyond - I am here for you!</p>

            {{#link-to 'contact' class='bbutton'}}SAY HELLO{{/link-to}}
        </div>
        <img class='last' src='/assets/images/utils/index_contact.jpg'/>
    </section>
</div>
