<section class='title-section'>
    <div class='overlay'></div>
    <div class='centered-content text-container'>
        <div class='sub-text'>Welcome to</div>
        <div class='title'>Bee Joyfully You</div>
    </div>
</section>

<div class='content-frame'>
    <section class='side-by-side bio'>
        <div class='bio-img'></div>
        <p class='last bio-content'>
            This is where my bio would go
        </p>
    </section>
</div>

<div class='content-frame'>
    <section class='side-by-side bio'>
        <p class='first bio-content'>
            This is where my bio would go
        </p>
        <img class='last' src='/assets/self-pics/janelle1.jpg'/>
    </section>
</div>
