<div class='title'>
    <h2>Meet Janelle</h2>
</div>

<div class='content-frame intro'>
    <section class='side-by-side white'>
        <div class='first'>
            <h2>Hello beautiful!</h2>

            <!-- <p> -->
            <!--     I’m so glad you’re here!  -->
            <!-- </p> -->
        </div>
        <img class='last' src='/assets/images/utils/about_welcome.jpeg'/>
    </section>
</div>

<p class='info'>
    First and foremost, I am a <i>sinner saved by grace</i>. <strong>Jesus is the source of true and lasting joy and I live to praise Him with everything that I am!</strong> Second, I am a born and raised Southern California girl married to the kindest, most sweetest man I know. My husband and I met in college where we both were involved in the University's Choir and Orchestra. He became my best friend, the biggest source of belly-aching laughs, and the love of my life. Together, we have a baby boy with a dimpled smile and contagious laugh. Life with them is a sweet adventure and I love every moment!
</p>

<div class='img-row'>
    <img src='/assets/images/utils/about_1.jpg'>
    <img src='/assets/images/utils/about_2.jpg'>
    <img src='/assets/images/utils/about_3.jpg'>
</div>

<p class='info'>
    I’m a total girly girl! I love twirly dresses, all things floral, and doing my makeup. But I always had a hard time finding “the right” shade of makeup and stuck with a little bit of eye shadow, a little bit of blush, and a little bit of lip color because everything else seemed a bit too complicated. To add to that, I’ve always struggled with dry skin and, as a result, eyeshadows, foundations and lipsticks made my skin <i>worse!</i> <strong>Then I discovered SeneGence<sup>®</sup>!</strong>
</p>


<p class='info'>
    It all started when I was pregnant with our baby boy. My skin was crazy dry and I <i>desperately</i> needed some good moisture. Nothing worked until I tried Climate Control (the purest form of hydration) and Color Correcting Tinted Moisturizer (aka magic in a bottle). <strong>My skin was transformed!</strong> It gave me confidence again and I tried LipSense<sup>®</sup> for the first time (Nude Pink - my favorite)! <strong>It was then I knew that a no smudge, no budge, long lasting lip color was a <i>game changer!</i></strong> I mean, who wouldn’t want to kiss their babies and husband, drink their tea, and eat a burger without getting lip color everywhere?! 
</p>

<div class='img-row'>
    <img src='/assets/images/utils/about_4.jpg'>
    <img src='/assets/images/utils/about_5.jpg'>
    <img src='/assets/images/utils/about_6.jpg'>
</div>

<p class='info'>
    I had originally signed up to be a SeneGence<sup>®</sup> distributor in February of 2019 for the fun discount on my new favorite products! I didn’t fully intend to sell these amazing products, but with the help and encouragement of our amazing team, I decided to give it a try and put my own personal touch on it.
</p>

<p class='info'>
    I launched <strong><i>Bee Joyfully You</i></strong> with the motto that <strong><i>“joy is beautiful and kindness is contagious”</i></strong>. I want my small business to be filled with happy dancing sprinkled with little snippets of my life, makeup tips and engaging content. I hope this is a space that encourages you no matter what season of life you are in and whether or not you wear makeup - true and lasting <i>joy is beautiful</i>.
</p>

<span class='info'>xo - Janelle</span>
