.learn-more-page {
    display: flex;
    flex-direction: column;
    padding: 24px 0;

    .title {
        background-image: url('images/catalog/product_lines/catalog_background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 600px 300px;
        color: white;
        height: 210px;
        padding: 48px 0;

        h2 {
            font-family: 'Alex Brush';
            font-size: 50px;
            font-weight: bold;
            margin: auto;
            text-align: center;
            white-space: pre;
        }
    }

    .line {
        margin: 16px auto;
        max-width: 1000px;
    }

    .centered-content {
        max-width: 800px;
        color: $text-color;
    }

    .back-button {
        align-items: center;
        background-color: white;
        border: 0;
        display: flex;
        margin-right: auto;

        i {
            margin-right: 8px;
        }
    }

    h3 {
        margin-top: 20px;
    }

    .bbutton.bottom {
        margin: auto;
    }

    // Adjust background
    @media (max-width: (550px)) {
        .title {
            background-size: 400px;

            h2 {
                font-size: 48px;
            }
        }
    }
}
