.products-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;
    text-align: center;

    .centered-content {
        width: 100%;
    }

    .product-info {
        margin: auto;
        max-width: 800px;

        h2 {
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 64px;
            margin-top: 120px;
        }

        .price {
            font-style: italic;
        }
    }

    .line {
        border-top: 1px solid #dbdbdb;
        margin-bottom: 16px;
    }

    .product-grid {
        img:hover {
            filter: brightness(65%);
            transition: .25s;
        }
    }

    // Darken screen when opening nav menu
    .overlay {
        animation: fadeIn ease .25s;
        background-color: black;
        position: absolute;
        opacity: .8;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: .8; }
        }
    }

    .img-container {
        align-items: center;
        bottom: 0;
        display: grid;
        justify-content: center;
        grid-column-gap: 16px;
        grid-template-columns: 10% 80% 10%;
        left: 0;
        padding: 16px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        .material-icons {
            font-size: 32px;
            color: white;
            cursor: pointer;
        }

        .clear-button {
            position: fixed;
            right: 24px;
            top: 24px;
        }

        .focused-img {
            margin: auto;
            max-width: 600px;
            width: 100%;
        }
    }

    // First break, go to 2 cols
    @media (max-width: (1100px)) {
        .product-grid {
            grid-template-columns: repeat(2, minmax(min-content, 500px));
        }
    }

    // This is where we convert to mobile view
    @media (max-width: (700px)) {
        .product-grid {
            grid-template-columns: minmax(200px, 1fr);
        }

        .img-container {
            grid-template-columns: 24px 1fr 24px;

            .back-button,
            .next-button {
                font-size: 24px;
            }
        }
    }
}
