<div class='title'>
    <h2>Give a gift card!</h2>
</div>

<div class='line'></div>

<section class='centered-content'>
    <img src='/assets/images/utils/gift_card.jpg'/>
</section>

<section class='centered-content'>
    <p>Whether you are celebrating or sending something just because, a gift card is a great option! With a wide variety of cards to choose from, send one to them right away or schedule a date you would like them to receive it.</p>
</section>

<button class='bbutton' onClick={{action 'goToGiftCard'}}>Purchase gift cards</button>
