<!-- <div class='title'> -->
    
<!-- </div> -->

<div class='centered-content product-grid'>
    {{#each catalogLinks as |product|}}
        {{#link-to 'products' product.type}}
            <img src={{concat '/assets/catalog/' product.imgUrl}}/>
        {{/link-to}}
    {{/each}}
</div>
