<!-- <div class='title'> -->
    
<!-- </div> -->

<div class='centered-content product-grid'>
    {{#each catalog as |productLine|}}
        {{#link-to 'products' productLine.name}}
            <img src={{concat '/assets/catalog/' productLine.mainImage}}/>
        {{/link-to}}
    {{/each}}
</div>
