<div class='centered-content'>
    <div class='overlay'></div>
    <h2>Links</h2>

    <div class='links'>
        {{link-to 'View our products' 'catalog'}}
        <a href='https://assets.senegence.com/DownloadPDF.aspx?file=cye01son0qg.pdf'>View our beauty book</a>
        {{link-to 'Gift Cards' 'give'}}
        {{link-to 'Visit my website' 'index'}}
        <a href='https://www.senegence.com/senegenceweb/CustomerDirectOrdering/Login.aspx'>Shop through my distributor ID 657565</a>
        <a href='https://www.colorstreet.com/beejoyfullyyou/party/1541804'>Color street</a>
        <a href='https://www.thedailygraceco.com/?rfsn=4280036.122960'>Daily grace</a>
        <a href='https://www.carlyjeanlosangeles.com/?smile_referral_code=DCm6F6Ag&st_intent=st%3Areferrals%3Acustomer-offers%3ADCm6F6Ag&utm_campaign=smileio_referrals&utm_medium=referral_url'>CJLA</a>
        <a href='HTTP://RWRD.IO/KIUI7KE'>Made by mary</a>
    </div>
</div>
