<!-- <div class='centered-content'> -->
<!--     {{link-to 'Home' 'index'}} -->
<!--     {{link-to 'Gift gards' 'give'}} -->
<!--     {{link-to 'Shop products' 'catalog'}} -->
<!--     Beauty book -->
<!-- </div> -->
